nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #E6E6E6;
  z-index: 999;
}

.instapic {
  padding-left: 20%;
  width: 190px;
  height: 48px;
  position: relative;
  top:auto;
  cursor: pointer;
}

.searcher {
  width: 200px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #FAFAFA;
  cursor: text;
}

.searcher:focus {
  text-align: left;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1400px) {
  .searcher {
    display: none;
    /* visibility: hidden; */
  }

  .grid-sidebar {
    visibility: hidden;
  }

  .instapic {
    padding-left: 20%;
  }

  .grid-icons {
    padding-right: 20%;
  }

  nav {
    grid-template-columns: 1fr 0fr 1fr !important;
    grid-gap: 1em;
  }

  .grid-container {
    grid-template-columns: 10% 80% 3% 3% 4% !important;
  }
}

@media only screen and (max-width: 600px) {
  .searcher {
    display: none;
    /* visibility: hidden; */
  }

  .grid-sidebar {
    visibility: hidden;
  }

  .instapic {
    padding-left: 0%;
  }

  .grid-icons {
    padding-right: 0%;
  }

  nav {
    grid-template-columns: 0.5fr 0fr 0.5fr !important;
    grid-gap: 0em;
  }

  .grid-container {
    grid-template-columns: 2% 96% 1% 1% 0% !important;
  }
}

.grid-icons {
  margin-right: 15%;
}

#compass {
  margin: 12px;
  float:left;
  font-size: 25px;
  cursor: pointer;
}
#heart {
  margin: 12px;
  float: left;
  font-size: 25px;
  cursor: pointer;

}
#user {
  margin: 12px;
  float: left;
  font-size: 25px;
  cursor: pointer;
}

/* grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 17.5% 43% 2% 20% 17.5%;
  margin-top: 150px;
  background-color: #FAFAFA;
  height: 100%;
}

.grid-content {
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.grid-sidebar {
  /* background-color: rgba(0, 255, 0, 0.5); */
}

html {
  height: 100%;
}

/* https://stackoverflow.com/questions/8118741/css-font-helvetica-neue */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  height: 100%;
  background-color: #FAFAFA;
}

#borussia-title {
  height: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#lonzo-title {
  height: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#borussia-pic {
  width: 100%;
  cursor: pointer;
}

#lonzo-pic {
  width: 100%;
  cursor: pointer;
}

#borussia-info {
  display: grid;
  grid-template-columns: 7% 7% 7% 73% 7%;
  grid-template-rows: 9%;
  margin-left: 2%;

}

#lonzo-info {
  display: grid;
  grid-template-columns: 7% 7% 7% 73% 7%;
  grid-template-rows: 9%;
  margin-left: 2%;
}

#like {
  font-size: 25px;
  cursor: pointer;
}

#like:hover {
  color: red;
}

#comment {
  font-size: 25px;
  cursor: pointer;
}

#share {
  font-size: 25px;
  cursor: pointer;
}

#bookmark {
  font-size: 25px;
  cursor: pointer;
}

#user-small {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#who-like {
  margin-top: 4px;
}

.caption {
  padding-left: 15px;
  padding-bottom: 5px;
}

.load-comments {
  margin-top: 5px;
  padding-left: 15px;
  color: #989898;
  cursor: pointer;
  padding-bottom: 5px;
}

.add-comment {
  display: grid;
  grid-template-columns: 90% auto 25px;
  margin-top: 10px;
  padding-left: 15px;
  padding-bottom: 20px;
  color: #989898;
  cursor: pointer;
}

.comments {
  display: grid;
  grid-template-columns: 90% auto 25px;
  margin-top: 5px;
  padding-left: 15px;
  padding-bottom: 5px;
}

.like-the-comment:hover {
  color: red;
  cursor: pointer;
}

.liked-by {
  display: grid;
  grid-template-columns: 30px auto;
  font-size: 14px;
  cursor: pointer;
  padding-left: 8px;
}

hr {
  width: 90%;
  color: #EEEEEE;
  opacity: 0.3;
}

.when-posted {
  margin-top: 5px;
  padding-left: 15px;
  color: #989898;
  font-size: 11px !important;
  padding-bottom: 5px;
}

.ig-post {
  display: grid;
  grid-template-rows: 60px auto 30px 30px; /*290px*/
  grid-row-gap: 0px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  margin-bottom: 60px;
  font-size: 14px;
}

/* sidebar stuff */
.whoami {
  display: grid;
  grid-template-columns: 55px auto;
  grid-column-gap: 10px;
  padding-bottom: 15px;
}

#dan {
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.name-bottom {
  color: #989898;
}

.name-prof {
  display: grid;
  grid-template-rows: 4px 15px 15px;
  font-size: 14px;
  grid-row-gap: 5px;
}

.stories {
  height: 225px;
  width: 100%;
  display: grid;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: auto;
}

.story-title {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 50% auto 30%;
  padding-bottom: 10px;
}

#all-stories {
  cursor: pointer;
  padding-left: 10px;
  font-size: 14px;
  color: #989898;
}

#watch-all {
  cursor: pointer;
  padding-right: 5px;
  font-size: 12px;
}

.story {
  display: grid;
  grid-template-columns: 55px auto;
  grid-column-gap: 10px;
  padding-bottom: 6px;
}

.name-stor {
  display: grid;
  grid-template-rows: 0px 15px 15px;
  font-size: 14px;
  grid-row-gap: 5px;
}

#jess {
  padding-left: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#kate {
  padding-left: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#kat {
  padding-left: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#yana {
  padding-left: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#tally {
  padding-left: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

#yas {
  padding-left: 10px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
