/* top grid for spacing */
/* .navbar-grid {
  display: grid;
  grid-template-columns: 15% 15% 15% 10% 15% 15% 15%;
  grid-auto-rows: auto !important;
  align-items: center !important;
  text-align: center !important;
} */

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #E6E6E6;
}

.instapic {
  padding-left: 20%;
  width: 190px;
  height: 48px;
  position: relative;
  top:auto;
}

.searcher {
  width: 200px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.searcher:focus {
  text-align: left;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1400px) {
  .searcher {
    display: none;
    /* visibility: hidden; */
  }

  .grid-sidebar {
    visibility: hidden;
  }

  .instapic {
    padding-left: 20%;
  }

  .grid-icons {
    padding-right: 20%;
  }

  nav {
    grid-template-columns: 1fr 0fr 1fr !important;
    grid-gap: 1em;
  }

  .grid-container {
    grid-template-columns: 10% 80% 3% 3% 4% !important;
  }
}

@media only screen and (max-width: 600px) {
  .searcher {
    display: none;
    /* visibility: hidden; */
  }

  .grid-sidebar {
    visibility: hidden;
  }

  .instapic {
    padding-left: 0%;
  }

  .grid-icons {
    padding-right: 0%;
  }

  nav {
    grid-template-columns: 0.5fr 0fr 0.5fr !important;
    grid-gap: 0em;
  }

  .grid-container {
    grid-template-columns: 2% 96% 1% 1% 0% !important;
  }
}

.grid-icons {
  margin-right: 15%;
}

#compass {
  margin: 12px;
  float:left;
  font-size: 25px;
}
#heart {
  margin: 12px;
  float: left;
  font-size: 25px;

}
#user {
  margin: 12px;
  float: left;
  font-size: 25px;
}



/* grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 17.5% 43% 2% 20% 17.5%;
  margin-top: 150px;
  background-color: #FAFAFA;
  height: 100%;
}

.grid-content {
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.grid-sidebar {
  background-color: rgba(0, 255, 0, 0.5);
}

/* navbar */
/* .navbar {
  display: grid;
  grid-template-columns: auto;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  box-shadow: 0px 0px 0px 1px #E6E6E6;
} */

/* .grid-instagram {
  width: 100px !important;
} */

/* instagram logo link */
/* .navbar .grid-instagram { */
  /* height: 100%; */
  /* width: 160px; */
  /* text-align: center; */
  /* float: left; */
/* } */

/* search bar */
/* .navbar .grid-search {
  text-align: center;
  height: 28px;
  width: 215px; */
  /* position: absolute; */
  /* top: 50%; */
  /* float: left;
  border-radius: 2px 2px 2px 2px #E6E6E6; */
/* } */

html {
  height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  height: 100%;
  background-color: #FAFAFA;
}

#borussia-title {
  height: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#lonzo-title {
  height: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#borussia-pic {
  width: 100%;
  cursor: pointer;
}

#lonzo-pic {
  width: 100%;
  cursor: pointer;
}

.ig-post {
  display: grid;
  grid-template-rows: 60px auto 290px;
  grid-row-gap: 0px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  margin-bottom: 60px;
}
