nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #E6E6E6;
  z-index: 999;
}

.instapic {
  padding-left: 20%;
  width: 190px;
  height: 48px;
  position: relative;
  top:auto;
  cursor: pointer;
}

.searcher {
  width: 200px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  background-color: #FAFAFA;
  cursor: text;
}

.searcher:focus {
  text-align: left;
  background-color: #FFFFFF;
}

@media only screen and (max-width: 1400px) {
  .searcher {
    display: none;
    /* visibility: hidden; */
  }

  .grid-sidebar {
    visibility: hidden;
  }

  .instapic {
    padding-left: 20%;
  }

  .grid-icons {
    padding-right: 20%;
  }

  nav {
    grid-template-columns: 1fr 0fr 1fr !important;
    grid-gap: 1em;
  }

  .grid-container {
    grid-template-columns: 10% 80% 3% 3% 4% !important;
  }
}

@media only screen and (max-width: 600px) {
  .searcher {
    display: none;
    /* visibility: hidden; */
  }

  .grid-sidebar {
    visibility: hidden;
  }

  .instapic {
    padding-left: 0%;
  }

  .grid-icons {
    padding-right: 0%;
  }

  nav {
    grid-template-columns: 0.5fr 0fr 0.5fr !important;
    grid-gap: 0em;
  }

  .grid-container {
    grid-template-columns: 2% 96% 1% 1% 0% !important;
  }
}

.grid-icons {
  margin-right: 15%;
}

#compass {
  margin: 12px;
  float:left;
  font-size: 25px;
  cursor: pointer;
}
#heart {
  margin: 12px;
  float: left;
  font-size: 25px;
  cursor: pointer;

}
#user {
  margin: 12px;
  float: left;
  font-size: 25px;
  cursor: pointer;
}

/* grid layout */
.grid-container {
  display: grid;
  grid-template-columns: 17.5% 43% 2% 20% 17.5%;
  margin-top: 150px;
  background-color: #FAFAFA;
  height: 100%;
}

.grid-content {
  /* background-color: rgba(255, 0, 0, 0.5); */
}

.grid-sidebar {
  background-color: rgba(0, 255, 0, 0.5);
}

html {
  height: 100%;
}

/* https://stackoverflow.com/questions/8118741/css-font-helvetica-neue */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  height: 100%;
  background-color: #FAFAFA;
}

#borussia-title {
  height: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#lonzo-title {
  height: 65%;
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#borussia-pic {
  width: 100%;
  cursor: pointer;
}

#lonzo-pic {
  width: 100%;
  cursor: pointer;
}

#borussia-info {
  display: grid;
  grid-template-columns: 7% 7% 7% 73% 7%;
  grid-template-rows: 9%;
  margin-left: 2%;
}

#lonzo-info {
  display: grid;
  grid-template-areas:
    'icon1 icon2 icon3 grid-space icon4'
    'liked-by liked-by liked-by liked-by liked-by'
    'caption caption caption caption caption'
    'load-more-comments load-more-comments load-more-comments load-more-comments load-more-comments'
    'comment to-like comment to-like comment to-like comment to-like comment to-like'
    'comment to-like comment to-like comment to-like comment to-like comment to-like'
    'comment to-like comment to-like comment to-like comment to-like comment to-like'
    'when-posted when-posted when-posted when-posted when-posted'
    'add-comment add-comment add-comment add-comment comment-options' !important;
  /* grid-template-columns: 7% 7% 7% 73% 7%;
  grid-template-rows: 9%; */
  margin-left: 2%;
}

#grid-spacer {
  grid-area: grid-space;
}

#liked-by {
  grid-area: liked-by;
}

#like {
  font-size: 25px;
  cursor: pointer;
  grid-area: icon1;
}

#comment {
  font-size: 25px;
  cursor: pointer;
  grid-area: icon2;
}

#share {
  font-size: 25px;
  cursor: pointer;
  grid-area: icon3;
}

#bookmark {
  font-size: 25px;
  cursor: pointer;
  grid-area: icon4;
}

.ig-post {
  display: grid;
  grid-template-rows: 60px auto 290px;
  grid-row-gap: 0px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  margin-bottom: 60px;
}
